body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popover-content {
  background-color: #2a2e2d;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px 8px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  min-width: 10rem;
  padding: 1rem;
  z-index: 9;
}

.popover-content Button {
  margin-right:  5px
}

.popover-content Button.cancel{
  background-color: white;
  color: black 
}

.popover-content h3 {
  color: white
}

.link {
  margin-top: 10px;
  margin-bottom: 10px
}

.title {
  margin-top: 10px;
  margin-bottom: 10px 
}

.home-page-videos {
  margin: 10px;
}

.home-page-videos .videos{
  margin: 5px;
}
